@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
.root{
  min-height: 100vh;
  display:flex;
  animation: fadeIn 1.5s;
}

.app-container {
  min-height: 100vh;
  display:flex;
  animation: fadeIn 1.5s;
}
/* .main {
  flex: 5; /* This allows Main to take up the remaining space
}  */

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}